<div class="nav-buttons d-flex justify-content-around mb-4">

      <a href="/" class="btn-outline-primary-custom <%= currentUrl === '/' ? 'active-btn' : '' %>">صفحه‌ی اصلی</a>
    
      <a href="/shk/edit-shop" class="btn-outline-primary-custom <%= currentUrl.startsWith('/shk/edit-shop') ? 'active-btn' : '' %>">  صفحه ی پروفایل فروشگاه </a>
    
      <a href="/shk/shopkeeperAuth/logout" class="btn-outline-primary-custom">خروج</a>
    
    </div>
    