<div class="reply-box bg-light border rounded p-3 ms-5 mt-3" style="border: 2px solid blue;">
    <div class="d-flex justify-content-between">
        <strong>فروشنده گفت:</strong>
        <small><%= replyDate %> در <%= replyTime %></small>
    </div>
    <p class="mt-2"><%= replyText %></p>
</div>
